
# PlanAhead Generated physical constraints 

NET "clk" LOC = P127;
NET "rst" LOC = P4;
NET "stop" LOC = P5;
NET "rx" LOC = P13;

NET "segment_h[0]" LOC = P97;
NET "segment_h[1]" LOC = P96;
NET "segment_h[2]" LOC = P95;
NET "segment_h[3]" LOC = P93;
NET "segment_h[4]" LOC = P118;
NET "segment_h[5]" LOC = P116;
NET "segment_h[6]" LOC = P113;
NET "segment_h[7]" LOC = P112;

NET "segment_l[0]" LOC = P107;
NET "segment_l[1]" LOC = P105;
NET "segment_l[2]" LOC = P104;
NET "segment_l[3]" LOC = P103;
NET "segment_l[4]" LOC = P129;
NET "segment_l[5]" LOC = P123;
NET "segment_l[6]" LOC = P122;
NET "segment_l[7]" LOC = P119;

NET "pul1" LOC = P73;
NET "pul2" LOC = P76;
NET "dir1" LOC = P74;
NET "dir2" LOC = P77;

NET "led1" LOC = P35;
NET "led2" LOC = P36;
NET "led3" LOC = P46;
